body {
    font-family: 'Jua', sans-serif;
    background-color: #ffffff;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
    line-height:1.68;
    text-align: left;
    color: #35465d
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 50px;
}

.title {
    line-height: 1.67;
    text-align: center;
    color: #35465d
}

.subtitle {
    line-height: 1.53;
    text-align: center;
    color: #35465d
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
      font-size:10px;
    }
    .navbar-brand {
       font-size: 2rem; 
    }
  }